body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    padding: 40px;
}

h1 {
    color: darkblue;
    font-size: larger;
}

nav a {
    margin: 0 20px;
    padding: 8px 12px;
    background: rgb(78, 8, 190);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background: darkred;
}

.flash-success {
            background: #d4edda;
            color: #155724;
            padding: 10px;
            width: 300px;
            border-radius: 5px;
            margin-bottom: 10px;
            
        }
       
.flash-error {
            background: #f8d7da;
            color: #721c24;
            padding: 10px;
            width: 300px;
            border-radius: 5px;
            margin-bottom: 10px;
        }